<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szreach.ybolotvbox">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ybolo_tv"
        android:label="@string/app_name" >

        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.LiveListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.LivePlayActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.VodListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.VodPlayActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.NewsListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.NewsPlayActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".videoplayer.VideoPlayer" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>